[mysqld]
max_allowed_packet={{ otobo_my_max_allowed_packet }}
query_cache_size={{ otobo_my_query_cache_size }}
innodb_log_file_size={{ otobo_my_innodb_log_file_size }}
character_set_server={{ otobo_my_character_set_server }}
