[mysqld]
max_allowed_packet={{ otrs_my_max_allowed_packet }}
query_cache_size={{ otrs_my_query_cache_size }}
innodb_log_file_size={{ otrs_my_innodb_log_file_size }}
character_set_server={{ otrs_my_character_set_server }}
